.hamburger {
  position: absolute;
  width: 45px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  grid-column: 5;
  cursor: pointer;
  z-index: 10;


  .line1,
  .line2,
  .line3-right {
    height: 3px;
    border-radius: 2px;
    border-radius: 2px;
    background-color: black;
    overflow: hidden;
  }
  .line1 {
    width: 50%;
  }

  .line2,
  .line3 {
    width: 100%;
  }

  .line3 {
    .blankLeft {
      width: 50%;
      float: left;
    }

    .line3-right {
      width: 50%;
      float: right;
    }
  }
}


